/* Stolen */
.form-control {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
  outline: none !important;
  border-color: #EEA776;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* Ensures code blocks don't overflow */
pre {
  overflow-y: scroll;
}


.badge {
  display: inline-flex;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  color: white;
}

/* General */

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 90vw;
  max-width: 1000px;
}

h1 {
  text-align: center;
  font-family: 'Yesteryear', serif;
  color: #ff6600;
  font-size: 70px;
  font-weight: 500;
}

.commentList {
  display: flex;
  flex-direction: column;
}

.commentActionTray{
  flex-direction: row;
}


/* KEYWORD */
.keyword {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: .1em .1em;
}

.keyword a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}

.keyword a:hover {
  opacity: 1.0
}

.keyword .remove {
  vertical-align: bottom;
  top: 0;
}

.keyword .glyphicon-white {
  color: #fff;
}

.keywords {
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: row;
}

.keywordText {
  margin-top: 1px;
  padding-right: 5px;
}

.marginBottom {
  margin-bottom: 10px;
}

/* COMMENT */
.highlighted {
  padding: 1px 3px;
  color: white;
  margin: 0px 1px;
}

.comment, .notFound {
  background-color: white;
  padding: 1px 12px 7px 12px;
  margin-bottom: 20px;
  border: 1px solid #efefef;
}

.notFound {
  text-align: center;
}

.commentCount {
  background-color: #ff6600;
  margin-bottom: 10px;
  font-size: 15px;
}

.refreshButton {
  margin-right: 5px;
}

.createdAt {
  font-size: 10px;
  font-style: normal;
  font-weight: 100px;
}

.commentAuthor {
  color: #93a1a1;
  padding-bottom: 10px;
  border-bottom: 1px solid #93a1a1;
  width: 50%;
  font-weight: 200;
}

/* OVERRIDES */
body {
  color: #586e75;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJElEQVQYV2NkIBIwEqmOgQ4K9+7d+9/Z2RnDJjpYjSsUqG81AJVuBAvCx2SfAAAAAElFTkSuQmCC) repeat;
}

.sk-double-bounce {
  margin: auto;
}

.form-control:focus {
  border-color: #EEA776;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* HACKER SEARCH */
.hackerSearch {
  padding-top: 30px;
}

.hackerSearch h1 {
  text-align: center;
  font-family: 'Yesteryear', serif;
  color: #ff6600;
  font-size: 70px;
  padding-bottom: 30px;
}
