/* Overrides */

body {
  color: #586e75;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJElEQVQYV2NkIBIwEqmOgQ4K9+7d+9/Z2RnDJjpYjSsUqG81AJVuBAvCx2SfAAAAAElFTkSuQmCC) repeat;
}

h1 {
  text-align: center;
  font-family: 'Yesteryear', serif;
  color: #ff6600;
  font-size: 4.375rem;
  font-weight: 500;
}

.loadingMessage > h1 {
  font-size: 2.5rem;
}

.loadingMessage {
  margin-top: 5rem;

}

a {
  color: #EEA776;
}

pre {
  overflow-y: scroll;
}

.sk-double-bounce {
  margin: auto;
}

/* General */

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 90vw;
  max-width: 62.5rem;
}

.hackerSearch {
  padding-top: 1.875rem;
}

.hackerSearch h1 {
  text-align: center;
  font-family: 'Yesteryear', serif;
  color: #ff6600;
  font-size: 4.375rem;
  padding-bottom: 1.875rem;
}

.spacing {
  margin-bottom: 0.625rem;
}

.badge {
  display: inline-flex;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  color: white;
}

/* Forms */

.form-control {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.0625rem solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
  outline: none !important;
  border-color: #EEA776;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}


/* Comments */

.commentList {
  display: flex;
  flex-direction: column;
}

.commentActionTray{
  flex-direction: row;
}

.comment, .notFound {
  background-color: white;
  padding: 0.0625rem 0.75rem 0.4375rem 0.75rem;
  border: 0.0625rem solid #efefef;
}

.commentCount {
  background-color: #ff6600;
  font-size: 0.9375rem;
}

.highlighted {
  padding: 0.0625rem 0.1875rem;
  color: white;
  margin: 0rem 0.0625rem;
}

.createdAt {
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 6.25rem;
}

.commentAuthor {
  color: #93a1a1;
  padding-bottom: 0.625rem;
  border-bottom: 0.0625rem solid #93a1a1;
  width: 50%;
  font-weight: 200;
}

.notFound {
  text-align: center;
  padding: 3rem;
}

.refreshButton {
  margin-right: 0.3125rem;
}

/* Keywords */
.keyword {
  font-size: 0.875rem;
  padding: .3em .4em .4em;
  margin: .1em .1em;
}

.keyword a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}

.keyword a:hover {
  opacity: 1.0
}

.keyword .remove {
  vertical-align: bottom;
  top: 0;
}

.keyword .glyphicon-white {
  color: #fff;
}

.keywords {
  flex-direction: row;
}

.keywordText {
  margin-top: 0.0625rem;
  padding-right: 0.3125rem;
}

/* github button */
.githubStar {
  position: absolute;
  top: 0.9375rem;
  right: 1.25rem;
}
